<div class="row">
    <div class="col-12">
    <div class="card">
           <!-- Botón para minimizar/expander -->
           <div class="ml-auto">
            <div class="busqueda-titulo2">
                <strong>C O M P A R A R &nbsp;&nbsp;&nbsp;</strong> 
                <button class="btn btn-sm btn-secondary align-items-center" (click)="toggleMinimizar()">
                    {{ seccionMinimizada ? '+' : '-' }}
                  </button>  
            </div>
           
            
          </div>
           <!-- FIN Botón para minimizar/expander -->

            <div [ngClass]="{'minimizado': seccionMinimizada}" >
                <div class="card-body ">
                    
                    BUSCAR
                   
                    <div class="row">
                        CADENA 1
                        <div class="col-6">
                           &nbsp;&nbsp;&nbsp; <input type="text" [(ngModel)]="cadena1" 
                            class ="form-control"
                            placeholder="Cadena 1"
                            #txttermino
                            style="width: 300px;"/>  
   
                        </div>
                    </div>
                    <div class="row">
                        CADENA 2
                        <div class="col-6">
                            &nbsp;&nbsp;&nbsp; <input type="text" [(ngModel)]="cadena2" 
                             class ="form-control"
                             placeholder="Cadena 2"
                             #txttermino
                             style="width: 300px;"/>  
                             <br>

                             <button class="btn btn-primary "  (click)="Comparar()" >
                                <i class="fa fa-city"></i>
                                Comparar
                            </button>
                         </div>
                      
                    </div>
                <br>
                    <div class="row">
                        &nbsp;&nbsp;
                       
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        <div class="col-md-6 d-flex justify-content-end">
                            <div>
                                <button class="btn btn-primary" (click)="descargarCSV()"> CSV</button>
                                <button class="btn btn-success" (click)="exportarAExcel()"> Excel</button>
                                <button class="btn btn-primary" (click)="exportarAExcelTodo()"> Excel All</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>
    </div>
</div> 

<div class="row animated fadein fast"  *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando ... </h4>
            <i class="fa fa-spin fa-refresh fa-2x"> </i>

            <p class="mb-0"> Por favor espere</p>
        </div>


        

    </div>
</div> 
<div class="row  animated fadein fast"  *ngIf="!cargando">
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Total registros ({{ totalTipos }})</h4>
            <div class="row">

                <div class="col-6">
                    <h6 class="card-subtitle">Detalle en la DB  -- Pagina {{paginaActual}} de {{paginasTotales}} </h6>

                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div  >
                        <button class="btn btn-success" (click)="descargarCSV()"> <i class="fa fa-refresh" aria-hidden="true"></i></button>  
                       <!--
                        &nbsp;&nbsp;
                        <button class="btn btn-warning" (click)="abrirCrear()"> + </button>
                       -->
                        
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table color-bordered-table inverse-bordered-table table-hover ">


                    <thead>
                        <tr>
                          <th></th>
                            <th class="w200">Cadena 1</th>
                            <th class="w200">Cadena 2</th>
                            <th class="w100">ResultadoContenido</th>
                            <th class="w100">Restultado Similares</th>
                         
                            <th class="w200">Metodo</th>
                            <th class="w100">Levensthein</th>
                            <th class="w100">hamming</th>
                            <th class="w300">Jaccard</th>
                            <th class="w100">sorensen</th>
               
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let nitem of Items">
                            <td ></td> 
                            <td >
                          
                             {{ nitem.cadena1 }} 
                             </td> 
                             
                            <td>
                                {{ nitem.cadena2 }} 
                            </td>
                            <td>{{ nitem.resultadocontenido }}</td>
                            <td>{{ nitem.resultadosimilares }}</td>
                         
                            <td>{{ nitem.metodo }}</td>
                            <td>{{ nitem.levenshtein }}</td>
                            <td>{{ nitem.hamming }}</td>
                            <td>{{ nitem.jaccard }}</td>
                            <td>{{ nitem.sorensen }}</td>
                       
                           
                        </tr>
                     
                    </tbody>
                </table>

                
                    <div>
                        <button  (click)="cambiarPagina(-1)" class="btn btn-secondary">Anterior</button>
                        &nbsp;
                        <button  (click)="cambiarPagina(1)" class="btn btn-secondary">Siguiente</button>
                        &nbsp;
                        VER :
                       <!-- <input type="text" [(ngModel)]="limite" 
                        placeholder="Limite"
                        max="200"
                        style="width: 40px;" 
                            />
                    -->        
                            <select [(ngModel)]="limite"  (ngModelChange)="cambiarLimite()">
                                <option *ngFor="let i of range(10, 100, 10)" [value]="i">{{ i }}</option>
                              </select>

                    </div>
                
    
            </div>
            <div>
                LOG:{{ Logs }}
            </div>
        </div>
    </div>
</div>
</div>
