 

<div class="card">
     <!-- Botón para minimizar/expander -->
    <div class="ml-auto">
        <div class="busqueda-titulo">
            <strong>E X P E D I E N T E&nbsp;&nbsp;&nbsp;</strong> 
            <button class="btn btn-sm btn-secondary align-items-center" (click)="toggleMinimizar()">
                {{ seccionMinimizada ? '+' : '-' }}
              </button>  
        </div>
    </div>
     <!-- FIN Botón para minimizar/expander -->
    <div class="card-body">
            <div class="row">
                        
                <div class="col-lg-4 col-xlg-3 col-md-5">

                    <h6 ><b>Expediente :</b>  </h6> <h6  class="data-display">  {{expediente2.expediente}}</h6>
                </div>
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Marca :</b>  </h6> <h6 class="data-display">{{expediente2.marca}} </h6>
                </div>                                    
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>No. Interno:</b>  </h6> <h6 class="data-display">{{expediente2.nrointerno}} </h6>
                </div>                                    
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Clase:</b>  </h6> <h6 class="data-display">{{expediente2.clase}} </h6>
                </div>

                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Pais Radicacion:</b>  </h6> <h6 class="data-display">{{expediente2.pais}} </h6>
                </div>                                    
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Fecha :</b> </h6> <h6 class="data-display"> {{expediente2.fechapb | date}} </h6>
                </div>                                    
               
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Año :</b> </h6> <h6 class="data-display"> {{expediente2.anno}} </h6>
                </div> 
            
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Vigencia :</b> </h6>
                     <h6 class="data-display">
                         <!-- {{expediente2.vigenuso}}  -->
                        {{ expediente2.fechavencimientob | date:'yyyy/MM/dd':'UTC' }}


                     </h6>
                    
                     
                    </div>   

                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Tipo Solicitud :</b> </h6> <h6  class="data-display"> {{expediente2.tiposol}} </h6>
                </div>  
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Estado Tramite :</b> </h6> <h6  class="data-display"> {{expediente2.estado_tramite}} </h6>
                </div>
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Solicitante :</b> </h6> <h6> {{expediente2.solicitante}} </h6>
                </div>
                
            </div>
            <div [ngClass]="{'minimizado': seccionMinimizada}" >
                <hr>

                    <div class="row">
                        <div class="col-lg-4 col-xlg-3 col-md-5">
                            <h6 ><b>Dominio :</b> </h6> <h6> {{expediente2.dominio}} </h6>
                        </div>         
                        <div class="col-lg-4 col-xlg-3 col-md-5">

                            <h6 ><b>Tipo Proceso :</b>  </h6> <h6>  {{expediente2.tipoproceso}}</h6>
                        </div>
                        <div class="col-lg-4 col-xlg-3 col-md-5">
                            <h6 ><b>Apoderado :</b>  </h6> <h6>{{expediente2.apoderado}}</h6>
                        </div>                                    
                            
                        <!-- <div class="col-lg-4 col-xlg-3 col-md-5">
                            <h6 ><b>Agente:</b>  </h6> <h6>{{expediente2.agente}} </h6>
                        </div>                                     -->
                        <div class="col-lg-4 col-xlg-3 col-md-5">
                            <h6 ><b>Compañia:</b> </h6> <h6>  {{expediente2.empresa}} </h6>
                        </div>                                    
                    
                        <div class="col-lg-4 col-xlg-3 col-md-5">
                            <h6 ><b>Gaceta :</b> </h6> <h6> {{expediente2.gaceta}} </h6>
                        </div> 
                        <div class="col-lg-4 col-xlg-3 col-md-5">
                            <h6 ><b>Certificado :</b> </h6> <h6> {{expediente2.certif}} </h6>
                        </div> 
                        <!-- <div class="col-lg-4 col-xlg-3 col-md-5">
                            <h6 ><b>Vencimiento :</b> </h6> <h6>  {{expediente2.vencimb | date:'yyyy/MM/dd':"GMT+0"}} </h6>
                        </div>   -->
                        <div class="col-lg-4 col-xlg-3 col-md-5">
                            <h6 ><b>Fecha Inac :</b> </h6> <h6>  {{expediente2.fechainac | date:'yyyy/MM/dd':"GMT+0"}} </h6>
                        </div>  
                    </div>
                <hr>

                <div class="row">
                                
                    <div class="col-lg-4 col-xlg-3 col-md-5">

                        <h6 ><b>Resolucion :</b>  </h6> <h6>  {{expediente2.resolucion}}</h6>
                    </div>
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <h6 ><b>Tipo Resolucion :</b>  </h6> <h6>{{expediente2.tiporesolucion}}</h6>
                    </div>                                    
                        
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <h6 ><b>Fecha Resb :</b>  </h6> <h6>{{expediente2.fecharesolucionb | date:'yyyy/MM/dd':"GMT+0"}} </h6>
                    </div>                                    
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <h6 ><b>Fecha Pub :</b> </h6> <h6> {{expediente2.fechapublicacion | date:'yyyy/MM/dd':"GMT+0"}} </h6>
                    </div>                                    
                
                
                </div>
            </div>


    </div>
</div>



<div *ngIf="ocultarModalgestionP">
    <b>E X P E D I E N T E S</b>
    <div class="card table-container">
        <table class="small2-table color-bordered-table inverse-bordered-table table-hover">
            <thead class="fixed-header">
                <tr style="color:aliceblue">
                    <th>Denominacion</th>
                    <th><abbr title="Rotten Tomato Rating">Expediente</abbr></th>
                    <!-- <th>Pais Rad</th>
                    <th>Dominio</th> -->
                    <th>Año</th>
                    <th>Clase</th>
                    <th>No. Interno</th>
                    <th>Certificado</th>     
                    <th class="w100">Solicitante</th>                 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of expedientesI" (click)="filaClickeada(item)" (contextmenu)="mostrarMenuContextual($event)" (keydown)="manejarTeclado($event)">
                    <td class="title tablesaw-cell-persist">{{ item.marca }}</td>
                    <td>{{ item.expediente }}</td>
                    <!-- <td>{{ item.pais }}</td>
                    <td>{{ item.dominio }}</td> -->
                    <td>{{ item.anno }}</td>
                    <td>{{ item.clase }}</td>
                    <td>{{ item.nrointerno }}</td>
                    <td>{{ item.certif }}</td>
                    <td>{{ item.solicitante }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="!ocultarModalgestionP">
    <b>G E S T I O N E S</b>
   
    <div class="card">
         
             <h4 class="card-title">Total registros ({{ totalTipos }})</h4>
            <div class="row">

                <div class="col-6">
                    <h6 class="card-subtitle">Detalle en la DB  -- Pagina {{paginaActual}} de {{paginasTotales}} </h6>

                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div  >
                        <button class="btn btn-warning" (click)="abrirCrear()"> + </button>
                    </div>
                </div>
            </div>

            <div class="card table-container">
                <table class="small2-table color-bordered-table inverse-bordered-table table-hover">


                    <thead>
                        <tr>
                           <th class="w50"></th> 
                          <!-- <th>Tareas</th> -->
                            <th class="w100">Expediente</th>
                            <!-- <th class="w100">NroInterno</th> -->
                            <!-- <th class="w300">Marca</th> -->
                            <th class="w300">Gestion</th>
                            <th class="w300">Pendiente</th>
                            <!-- <th class="w100">Pais</th> -->
                            <!-- <th class="w100">Clase</th> -->
                            <th class="w80">Proces</th>
                            <th class="w100">Fecha ACT</th>
                            <th class="w100">Tipo ACT</th>
                            <th class="w100">Vence</th>
                              <th class="w100">Paralegal</th>  
                              
                          <!--   <th class="w300">Observaciones</th>
                            -->
                            <th  class="w100">Estado</th>
                            <!-- <th  class="w60">id</th> -->
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let nitem of Items1">

                            <td  class="w50">
                                <!--
                                -->
                             
                                     <a (click)="abrirModificarGestion(nitem)"
                                     class="cursor"
                                      data-toggle="tooltip" data-original-title="Editar"> 
                                     <i class="fas fa-edit text-inverse m-r-10">
                                     </i> </a>
                                    

                                 </td>
<!--                              
                                     <a (click)="abrirModificar(nitem)"
                                     class="cursor"
                                      data-toggle="tooltip" data-original-title="Editar"> 
                                     <i class="fas fa-edit text-inverse m-r-10">
                                     </i> </a>
                                    

                                <a (click)="eliminarTiposdetalle(nitem)"
                                class="cursor"
                                 data-toggle="tooltip" data-original-title="Borrar"> 
                                <i class="fa fa-close text-danger">
                                </i> 
                            </a> -->
                       
                             <!-- <td>
                                <a (click)="abrirModalTarea(nitem)"
                                class="cursor"
                                 data-toggle="tooltip" data-original-title="nuevo"> 
                                <i class="fas fa-plus text-inverse m-r-10">
                                </i> </a>

                                <a (click)="abrirModalTarea2(nitem)"
                                class="cursor"
                                 data-toggle="tooltip" data-original-title="ver"> 
                                <i class="fas fa-eye text-inverse m-r-10">
                                </i> </a>
                             </td> -->
                            <td  class="w100">
                                {{ nitem.expediente }} 
                            </td>
                            <!-- <td  class="w100">
                                {{ nitem.nrointerno }} 
                            </td> -->
                            <!-- <td  class="w300">{{ nitem.marca }}</td> -->
                            <td  class="w300">{{ nitem.gestion }}</td>
                            <td>{{ nitem.pendiente }}</td>
                            <!-- <td>{{ nitem.pais }}</td>
                            <td>{{ nitem.clase }}</td> -->
                            <td>{{ nitem.tipoproc }}</td>

                            <td>{{ nitem.fechaactuacion | date:'yyyy-MM-dd' }}</td>
                            <td>{{ nitem.codactua }}</td>
                            <td>{{ nitem.vence | date:'yyyy-MM-dd'}}</td>
                             <td>{{ nitem.paralegal }}</td> 
                             
                           <!--
                             <td>{{ nitem.observaciones }}</td>
                           -->
                            <td>{{ nitem.estado }}</td>
                            <!-- <td>{{ nitem.id }}</td> -->
                        </tr>
                     
                    </tbody>
                </table>

                
                    <!-- <div>
                        <button  (click)="cambiarPagina(-1)" class="btn btn-secondary">Anterior</button>
                        &nbsp;
                        <button  (click)="cambiarPagina(1)" class="btn btn-secondary">Siguiente</button>
                        &nbsp;
                        VER :
                
                            <select [(ngModel)]="limite"  (ngModelChange)="cambiarLimite()">
                                <option *ngFor="let i of range(10, 100, 10)" [value]="i">{{ i }}</option>
                              </select> 

                    </div> -->
                
    
            </div>
        
    </div>
 
    <div class="col-md-6 d-flex justify-content-end">
        <button class="btn btn-warning" (click)="abrirCrearGestion()"> + </button>       
    </div>
    
</div>

<!-- Definición del menú contextual -->
<div class="menu-contextual" *ngIf="menuVisible" [ngStyle]="{'top': menuPosicion.y + 'px', 'left': menuPosicion.x + 'px'}">
    <ul>
        <li (click)="editar()">Editar</li>
        <li (click)="crearGestion()">Crear Gestión</li>
    </ul>
</div>


<div class="footer-bar">
    <input type="text" 
    class ="form-control"
    placeholder="Buscar x Expediente / Marca / Pais"
     
    #txttermino
    />         
    <button class="btn btn-primary"  (click)="buscar(txttermino.value)">Buscar</button>
    <button class="btn btn-secondary" (click)="abrirGestiones()">{{TituloBoton}}</button>

    &nbsp;&nbsp;&nbsp;
    <button class="btn waves-effect waves-light btn-warning"  (click)="cambiarPagina(0)">Primera</button>
    <button class="btn waves-effect waves-light btn-warning"  (click)="cambiarPagina(-1)">Anterior</button>
    <button class="btn waves-effect waves-light btn-warning"  (click)="cambiarPagina(1)">Siguiente</button>
    <button class="btn waves-effect waves-light btn-warning"  (click)="cambiarPagina(99)">Ultima</button>
    &nbsp;&nbsp;&nbsp;
    <button class="btn btn-success"  (click)="abrirModalNuevo()" >Nuevo</button>
    <button class="btn btn-success" (click)="abrirModal()" >Editar Actual</button>
    &nbsp;&nbsp;&nbsp;
    <button (click)="abrirUrl()">Ir a la S.I.C.</button>

    

</div>




<style>
    /* Ajusta el estilo para las celdas de la tabla */
    table.tablesaw td {
        padding: 5px; /* Disminuye el relleno; ajusta según sea necesario */
        line-height: 1.2; /* Disminuye el espaciado entre líneas; ajusta según sea necesario */
        width: 100%; /* Hace que la tabla ocupe todo el ancho */
        max-width: none; /* Elimina cualquier restricción de ancho máximo */
        margin: 0; /* Opcional: elimina márgenes para que la tabla alcance los bordes de la pantalla */
    }

    /* Opcional: Ajustar el estilo para los encabezados de la tabla, si es necesario */
    table.tablesaw th {
        padding: 5px; /* Disminuye el relleno; ajusta según sea necesario */
        line-height: 1.2; /* Disminuye el espaciado entre líneas; ajusta según sea necesario */
        width: 100%;
        max-width: none;
        padding: 0; /* Elimina el relleno si es necesario */
    }
    .table-Alto {
    max-height: 300px; /* Establece el alto máximo del contenedor */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido excede el alto máximo */
}

.table-like {
  width: 100%; /* Ocupa todo el ancho disponible */
  border-collapse: collapse; /* Para que no haya espacios entre las celdas */
  
}

.header-row, .data-row {
  display: flex;
}

.header-cell, .data-cell {
  flex: 1; /* Distribuye el espacio de manera uniforme */
  border: 1px solid #000; /* Borde negro para cada celda */
  padding: 8px; /* Espaciado interno para el texto */
  text-align: left; /* Alinea el texto a la izquierda */
  background-color: #ddd; /* Fondo gris para las celdas del encabezado */
  white-space: nowrap; /* Asegura que el texto no se pase a la línea siguiente */
}

.data-cell {
  background-color: #fff; /* Fondo blanco para las celdas de datos */
}

/* Añade estilos adicionales para los bordes, sombras, o lo que necesites */
.selected {
  background-color: #e9ecef; /* Cambia el color de fondo de la fila seleccionada */
}
</style>



<!--
------------------------------------------------------------
NUEVO INGRESO EXPEDIENTES
-->

<!---------------
        MODAL
-->



<div class="modal animated fadeIn fast" *ngIf="!ocultarModalNuevo"  #divPaste >

    <!--
         <div class="modal-dialog  modal-lg  modal-dialog-scrollable">
             <div class="modal-content">
       -->
       
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{Titulo}}</h4>
                    <button type="button" 
                    class="close" 
                    data-dismiss="modal" 
                    aria-hidden="true"
                    (click)="cerrarModalNuevo()">×</button>
                </div>
               
                <div class="modal-body">
                    <div class="card-body">
                    
                        <div class="form-body" > 
                      


                                <div class="row">
                            
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Expediente :</b>  </h6> 
                                        <input type="text" id="lastName"  placeholder="Expediente" [(ngModel)]="camposEditar.expediente">
                                    </div>
                                
                                 


                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Pais Radicacion:</b>  </h6>
                                        <!-- <input type="text" id="fecha"  placeholder="Pais Radicacion" [(ngModel)]="camposEditar.pais"> -->
                                        <select class="form-control w140" name="tipoproc"
                                        [(ngModel)]="opPais"   style="width: 200px;">
                                            
                                            <option value="{{dato.nombre}}" *ngFor="let dato of paises">
                                                {{dato.nombre}}
                                            </option>
                                        </select>

                                    </div>                                    
                                       
                                    
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Nrointerno :</b> </h6> 
                                        <input type="text" id="marca"  placeholder="Numero Interno" [(ngModel)]="camposEditar.nrointerno">

                                    </div>            
                   

                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6><b>Clase :</b></h6>
                                        <!-- <select class="form-control w140" name="tipoproc" [(ngModel)]="opClaseSeleccionadas" style="width: 200px;" >
                                          <option [value]="dato.codigo" *ngFor="let dato of ClaseActuacion">
                                            {{dato.nombre}}
                                          </option>
                                        </select>
                                       -->
                                        <input type="text" class="form-control"  style="width: 200px;"   [(ngModel)]="opClaseSeleccionadas"/>

                                        <!-- Botón para agregar clase seleccionada -->
                                        <button type="button" (click)="agregarClase()">Agregar</button>
                                        
                                        <!-- Mostrar clases seleccionadas -->
                                      
                                          <input type="text" class="form-control" [value]="clasesSeleccionadas.join('; ')"  style="width: 200px;"  readonly  [(ngModel)]="camposEditar.clase"/>
                                        
                                        
                                      </div>

                                      <!-- <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Covertura :</b>  </h6> 
                                        <textarea  id="Covertura" placeholder="Covertura" [(ngModel)]="camposEditar.declauso"  rows="4" cols="30">
                                            </textarea>
                                    </div> -->

                                      <!-- <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Fecha :</b> </h6> 
                                        <input type="date" id="fecha"  placeholder="Fecha Publicacion" [ngModel]="camposEditar.fechapb  | date:'yyyy/MM/dd':'GMT+0'"> 
                                       
                                    </div>  -->
                                    <!-- <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Vencimiento :</b> </h6> 
                                        <input type="date" id="Vence"  placeholder="Tipo Solicitud" [ngModel]="camposEditar.vencimientob | date:'yyyy/MM/dd':'GMT+0'">
                                    </div>   -->
                                  
                                   
                                    <!-- <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Tipo Proceso :</b> </h6>
                                         

                                        <select class="form-control w140" name="tipoproc"
                                        [(ngModel)]="opTipoProceso"   style="width: 200px;">
                                            
                                            <option value="{{dato.nombre}}" *ngFor="let dato of TiposProceso">
                                                {{dato.nombre}}
                                            </option>
                                        </select>

                                    </div>   -->
                           

                                    <!-- <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Solicitante :</b>  </h6> 
                                        <input type="text" id="Solicitante" placeholder="Solicitante" [(ngModel)]="camposEditar.solicitante">
                                    </div> -->
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Apoderado :</b>  </h6> 
                                        <input type="text" id="marca" placeholder="Apoderado" [(ngModel)]="camposEditar.apoderado">
                                    </div>

                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Gaceta :</b> </h6>
                                        <input type="text" id="tipoproceso"  placeholder="Gaceta" [(ngModel)]="camposEditar.gaceta">
                                   </div>  
                                   <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>Fecha Publicacion :</b> </h6> 
                                        <input type="date" id="marca"  placeholder="Estado Tramite" [ngModel]="camposEditar.fechapublicacion | date:'yyyy-MM-dd':'GMT+0'">
                                    </div>      

                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Certificado de Registro:</b> </h6>
                                        <input type="text" id="certificado"  placeholder="Certificado" [(ngModel)]="camposEditar.certif">
                                   </div>  

                                   <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Tipo de Solicitud :</b> </h6> 
                                        <!-- (ngModelChange)="onChangeEstadoTramite($event)"  -->

                                        <select class="form-control w140" name="TipoSOL"
                                        [(ngModel)]="opTipoSolicitud"  
                                        style="width: 200px;">
                                            
                                        <option [value]="dato.nombre" *ngFor="let dato of TipoSolicitud">
                                            {{dato.nombre}}
                                          </option>
                                        </select>
                                    </div>

                                    
                                   <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>Vigencia :</b> </h6> 
                                    <!-- (ngModelChange)="onChangeEstadoTramite($event)"  -->
                                    <input type="date" id="vigenuso"  placeholder="Vigencia" [ngModel]="camposEditar.vigenuso | date:'yyyy-MM-dd':'GMT+0'">

                                </div>

                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Estado Tramite :</b> </h6> 
                                        <!-- (ngModelChange)="onChangeEstadoTramite($event)"  -->

                                        <select class="form-control w140" name="TipoESTT"
                                        [(ngModel)]="opTipoEstadoTramite"  
                                        style="width: 200px;">
                                            
                                            <option [value]="dato.nombre"  *ngFor="let dato of TipoEstadoTramite">
                                                {{dato.nombre}}
                                            </option>
                                        </select>
                                    </div>

                                    <!-- <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Declaracion Uso :</b> </h6> 
                                        <input type="date" id="pagcert"  placeholder="pagcert" [(ngModel)]="camposEditar.declauso">
                                    </div>      -->

                                 

                                </div>
                            <hr>

                            <div class="row">
                                <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>Signo :</b>  </h6>  
                                    <input type="text" id="Signo"  placeholder="Signo" [(ngModel)]="camposEditar.marca">
                                </div>
                                
                              

                                <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>Tipo Signo :</b> </h6> 
                                    <!-- (ngModelChange)="onChangeEstadoTramite($event)"  -->

                                    <select class="form-control w140" name="TipoESTT"
                                    [(ngModel)]="opTipoSigno"  
                                    style="width: 200px;">
                                        
                                        <option  [value]="dato.nombre" *ngFor="let dato of TipoSigno">
                                            {{dato.nombre}}
                                        </option>
                                    </select>
                                </div>

                              
                                <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>Naturaleza :</b> </h6> 
                                    <!-- (ngModelChange)="onChangeEstadoTramite($event)"  -->

                                    <select class="form-control w140" name="TipoESTT"
                                    [(ngModel)]="opNaturaleza"  
                                    style="width: 200px;">
                                        
                                        <option [value]="dato.nombre" *ngFor="let dato of Naturaleza">
                                            {{dato.nombre}}
                                        </option>
                                    </select>
                                </div>
                            
                                
                                <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>Cobertura :</b> </h6> 
                                    <!-- (ngModelChange)="onChangeEstadoTramite($event)"  -->
                                    <textarea id="memoField" class="form-control" [(ngModel)]="expediente2.descprod" rows="5"  style="width: 250px;"></textarea>
                                </div>
                            
                            
                            
                            </div>

                                <hr>

                                <!-- Botón para mostrar campos opcionales -->
                                <button type="button" class="btn btn-link" (click)="mostrarOpcional = !mostrarOpcional">
                                    {{ mostrarOpcional ? 'Ocultar Opcionales' : 'Mostrar Opcionales' }}
                                </button>

                                <!-- Campos opcionales -->
                                <div *ngIf="mostrarOpcional">


                                        <div class="row">
                                          
                                            <!-- <div class="col-lg-4 col-xlg-3 col-md-5">
                                                <h6 ><b>Agente :</b>  </h6>
                                                <input type="text" id="agente"  placeholder="Agente" [(ngModel)]="camposEditar.agente">
                                            </div>                                     -->
                                         
                                            <div class="col-lg-4 col-xlg-3 col-md-5">
                                                <h6 ><b>Año :</b> </h6> 
                                                <input type="text" id="anno"  placeholder="Año" [(ngModel)]="camposEditar.anno">
                                            </div> 

                                            <div class="col-lg-4 col-xlg-3 col-md-5">
                                                <h6 ><b>Pais :</b> </h6> 
                                                <input type="text" id="marca" placeholder="Pais" [(ngModel)]="camposEditar.pais">
                                            </div> 

                                            <div class="col-lg-4 col-xlg-3 col-md-5">
                                                <h6 ><b>Dominio :</b> </h6> 
                                                <input type="text" id="dominio"  placeholder="Dominio" [(ngModel)]="camposEditar.dominio">
                                            </div> 



                                        
                                            <div class="col-lg-4 col-xlg-3 col-md-5">
                                                <h6 ><b>Prioridad :</b> </h6> 
                                                <input type="text" id="marca" placeholder="Prioridad" [(ngModel)]="camposEditar.prioridad">

                                            </div> 
                                            <div class="col-lg-4 col-xlg-3 col-md-5">
                                                <h6 ><b>Fecha Prioridad :</b> </h6>
                                                <input type="date" id="marca" placeholder="Estado Tramite" [ngModel]="camposEditar.fechaprioridad | date:'yyyy-MM-dd':'GMT+0'">
                                            </div> 
                                            <div class="col-lg-4 col-xlg-3 col-md-5">
                                                <h6 ><b>expedipri :</b> </h6> 
                                                <input type="date" id="marca" placeholder="Estado Tramite" [ngModel]="camposEditar.expedienteprioridad | date:'yyyy-MM-dd':'GMT+0'">
                                            </div>  
                                            <div class="col-lg-4 col-xlg-3 col-md-5">
                                                <h6 ><b>Yourref :</b> </h6> 
                                                <input type="text" id="marca" placeholder="yourref" [(ngModel)]="camposEditar.yourref">
                                            </div>  
                                        </div>
                                    <hr>
                            
                                    <div class="row">
                                        <div class="col-lg-4 col-xlg-3 col-md-5">
                                            <h6 ><b>Licenuso :</b> </h6> 
                                            <input type="text" id="marca" placeholder="yourref" [(ngModel)]="camposEditar.licenuso">
                                        </div>
                                        <div class="col-lg-4 col-xlg-3 col-md-5">
                                            <h6 ><b>pagcert :</b> </h6> 
                                            <input type="text" id="pagcert" placeholder="pagcert" [(ngModel)]="camposEditar.pag">
                                    </div>                                    
                                            
                                                                    
                                        <!-- <div class="col-lg-4 col-xlg-3 col-md-5">
                                            <h6 ><b>MActiva :</b> </h6> 
                                            <input type="text" id="pagcert"  placeholder="pagcert" [(ngModel)]="camposEditar.mactiva">
                                        </div>                                     -->
                                        <div class="col-lg-4 col-xlg-3 col-md-5">
                                            <h6 ><b>ts :</b> </h6> 
                                            <input type="text" id="marca"  placeholder="yourref" [(ngModel)]="camposEditar.ts">
                                        </div>
                                        <!-- <div class="col-lg-4 col-xlg-3 col-md-5">
                                            <h6 ><b>ptram :</b> </h6> 
                                            <input type="date" id="pagcert"  placeholder="pagcert" [ngModel]="camposEditar.ptram | date:'yyyy-MM-dd':'GMT+0'">
                                    </div>                                     -->
                                        <div class="col-lg-4 col-xlg-3 col-md-5">
                                            <h6 ><b>fechainac:</b> </h6> 
                                                <input type="date" id="marca"  placeholder="Estado Tramite" [ngModel]="camposEditar.fechainac | date:'yyyy-MM-dd':'GMT+0'">
                                            </div>                                    
                                        <div class="col-lg-4 col-xlg-3 col-md-5">
                                            <h6 ><b>vcniza :</b> </h6> 
                                            <input type="text" id="pagcert"  placeholder="pagcert" [(ngModel)]="camposEditar.vcniza">
                                        </div>                                    
                                        <div class="col-lg-4 col-xlg-3 col-md-5">
                                            <h6 ><b>rvidicac :</b> </h6> 
                                            <input type="text" id="marca"  placeholder="yourref" [(ngModel)]="camposEditar.rvidicac">
                                        </div>
                                                                       
                                            
                                        <div class="col-lg-4 col-xlg-3 col-md-5">
                                            <h6 ><b>frrenova :</b> </h6> 
                                                <input type="date" id="marca"  placeholder="Estado Tramite" [ngModel]="camposEditar.frrenova | date:'yyyy-MM-dd':'GMT+0'">
                                            </div>                                    
                                        <div class="col-lg-4 col-xlg-3 col-md-5">
                                            <h6 ><b>observaciones :</b> </h6> 
                                            <input type="text" id="pagcert" class="" placeholder="pagcert" [(ngModel)]="camposEditar.observaciones">
                                        </div>              
                                    </div>
                                </div>
                            </div>
                        <div class="modal-footer d-flex justify-content-between w-100">
                         
                            <!-- Botón a la izquierda -->
                            <div>
                                <button type="button" class="btn btn-info" (click)="pegarDesdeClipboard()">Pegar datos SIC</button>
                            </div>

                            <!-- Botones a la derecha -->
                            <div>
                                <button type="button" 
                                        class="btn btn-default waves-effect" 
                                        data-dismiss="modal"
                                        (click)="cerrarModalNuevo()">
                                Cerrar
                                </button>
                                <button type="button" 
                                        class="btn btn-danger waves-effect waves-light"  
                                        (click)="salvarModal()">
                                Salvar cambios
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                     
            </div>
       
     

</div>

<!----------------------------------------------->
<!----------------------------------------------->
<!--------------- MODAL GESTIONES --------------->
<!----------------------------------------------->
<!----------------------------------------------->

<div class="fondo_modal animated fadeIn fast" *ngIf="!ocultarModalGestion">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content m-0 p-0">
            <div class="modal-header sidebar-nav text-white">
                <h4 class="modal-title">&nbsp;{{Titulo}}&nbsp;&nbsp;|&nbsp;&nbsp;{{SubTitulo}}</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true" (click)="cerrarModalGestion2()">&nbsp;&nbsp;×&nbsp;&nbsp;</button>
            </div>

            <div class="modal-body">
                <div class="form-container">

                    <!-- Tipo Actuación -->
                    <div class="form-group row fila-alterna">
                        <label class="col-md-3 col-form-label">Tipo Actuación</label>
                        <div class="col-md-9">
                            <select class="form-control custom-select" name="tipoproc" style="width: 200px;">
                             <option value="{{dato.codigo}}" *ngFor="let dato of TiposActuacion">
                                 {{dato.nombre}}
                             </option>
                         </select> 
                        </div>
                    </div>

                    <!-- Expediente -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Expediente</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Código" [(ngModel)]="camposEditar2.expediente">
                        </div>
                    </div>

                    <!-- Gestión y Pendiente -->
                    <div class="form-group row fila-alterna">
                        <label class="col-md-3 col-form-label">Gestión</label>
                        <div class="col-md-9">
                            <textarea class="form-control" placeholder="Ingrese la gestión" [(ngModel)]="camposEditar2.gestion" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Pendiente</label>
                        <div class="col-md-9">
                            <textarea class="form-control" placeholder="Ingrese pendiente" [(ngModel)]="camposEditar2.pendiente" rows="4"></textarea>
                        </div>
                    </div>

                    <!-- Fecha Actuación y Fecha Tarea -->
                    <div class="form-group row fila-alterna">
                        <label class="col-md-3 col-form-label">Fecha Actuación</label>
                        <div class="col-md-9">
                            <input type="date" class="form-control"
                                [value]="camposEditar2.fechaactuacion ? (camposEditar2.fechaactuacion | date:'yyyy-MM-dd') : ''"
                                (change)="actualizarFechaActuacion($event)">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Fecha Tarea</label>
                        <div class="col-md-9">
                            <input type="date" class="form-control"
                                [value]="camposEditar2.vence ? (camposEditar2.vence | date:'yyyy-MM-dd') : ''"
                                (change)="actualizarFechaVence($event)">
                        </div>
                    </div>

                    <!-- Estado del Trámite -->
                    <div class="form-group row fila-alterna">
                        <label class="col-md-3 col-form-label">Estado Trámite</label>
                        <div class="col-md-9">
                            <select class="form-control custom-select"> 
                                <!-- //[(ngModel)]="TipoEstadoSeleccionado" -->
                                
                                <option value="{{dato.id}}" *ngFor="let dato of TipoEstadoTramite">
                                    {{dato.nombre}}
                                </option>
                            </select>  
                        </div>
                    </div>

                    <!-- Paralegal y Estado Pendiente -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Paralegal</label>
                        <div class="col-md-9">
                            <select class="form-control w140" name="TipoEST" style="width: 200px;">        
                                <option value="{{dato.id}}" *ngFor="let dato of Paralegales">
                                    {{dato.nombre}}
                                </option>
                            </select>  
                        </div>
                    </div>

                    <div class="form-group row fila-alterna">
                        <label class="col-md-3 col-form-label">Estado Pendiente</label>
                        <div class="col-md-9">
                            <select class="form-control custom-select" [(ngModel)]="TipoEstadoSeleccionado">
                                <option *ngFor="let dato of TipoEstado" [value]="dato.id">{{dato.nombre}}</option>
                            </select>
                        </div>
                    </div>

                </div> <!-- Cierre de form-container -->

                <!-- Botones -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" (click)="cerrarModalGestion2()">Cerrar</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" (click)="salvarModalGestion()">Guardar cambios</button>
                </div>

            </div>
        </div>
    </div>
</div>



    <!--
    ------------------------------------------------------------
    ------------------------------------------------------------
    ------------------------------------------------------------
        MODAL tarea crear
    ------------------------------------------------------------
    ------------------------------------------------------------
    -->



    <div class="fondo_modal animated fadeIn fast"
    *ngIf="!ocultarModalTarea" >


    <div class="modal-dialog  modal-lg  modal-dialog-scrollable">
       
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title">Tareas</h4>
                    <button type="button" 
                    class="close" 
                    data-dismiss="modal" 
                    aria-hidden="true"
                    (click)="cerrarModalTarea()">×</button>
            </div>
            
            <div class="modal-body">

                <div class="form-body" > 
                    <h3 class="card-title">Ingrese la Nueva Tarea</h3>

                    <div class="col-md-6">        

                    </div>
 
                    <div class="row">
                        <div class="col-md-6">
                        <label class="control-label">Tarea</label>
                        </div>        
                        <div class="col-md-6">       
                        <textarea type="text" id="tarea"  placeholder="tarea"  [(ngModel)]="camposEditarTarea.tarea">
                            </textarea>

                        </div>
                      
                        <div class="col-md-6">

                        <label class="control-label">Fecha Tarea</label>
                        </div>
                        <div class="col-md-6">
                        <input type="date" id="fechavencimiento" 
                        (ngModelChange)="cambiarFechavence($event)" 
                        [ngModel]="camposEditarTarea.fechavence  | date:'yyyy-MM-dd'" placeholder="fecha Vencimiento">
                        </div>

                        
                        <div class="col-md-6">

                            <label class="control-label">Estado</label>
                            </div>
                            <div class="col-md-6">
                           
                             <select class="form-control w140" name="TipoEST"
                             [(ngModel)]="TipoEstadoSeleccionado"      style="width: 200px;">
                             
                                 <option value="dato.id" *ngFor="let dato of TipoEstado">
                                     {{dato.nombre}}
                                 </option>
                             </select>
                            
                             
                            </div>
    
                        <!--/span-->

                    </div>



            
                <div class="row"> &nbsp;</div>

                    <div class="modal-footer">
                        <button type="button" 
                        class="btn btn-default waves-effect" 
                        data-dismiss="modal"
                        (click)="cerrarModalTarea()"
                        >Cerrar</button>
                        <button type="button" class="btn btn-danger waves-effect waves-light"  (click)="salvarModalTarea()">Salvar cambios</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


   <!--
    ------------------------------------------------------------
    ------------------------------------------------------------
    ------------------------------------------------------------
        MODAL tarea VER
    ------------------------------------------------------------
    ------------------------------------------------------------
    -->



<div class="fondo_modal animated fadeIn fast"
    *ngIf="!ocultarModalTarea2" >


    <div class="modal-dialog  modal-lg  modal-dialog-scrollable">
       
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title">Ver Tareas</h4>
                    <button type="button" 
                    class="close" 
                    data-dismiss="modal" 
                    aria-hidden="true"
                    (click)="cerrarModalTarea2()">×</button>
            </div>
            
            <div class="modal-body">

                <div class="form-body" > 
                    <h3 class="card-title">Tareas</h3>

                    <div class="table-responsive">
                        <table class="table color-bordered-table inverse-bordered-table table-hover ">
        
        
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="w200">Tarea</th>
                                    <th class="w100">Fecha Tarea</th>
                                    <th  class="w100">Estado</th>
                                    <th  class="w60">id</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let nitem2 of ItemsTareas">
                                    <td >
                                    
                                        <a (click)="abrirModificarTarea(nitem2)"
                                            class="cursor"
                                            data-toggle="tooltip" data-original-title="Editar"> 
                                            <i class="fas fa-edit text-inverse m-r-10">
                                            </i> </a>
                                    <td>{{ nitem2.tarea }}</td>
                                    <td>{{ nitem2.fechavence| date:'yyyy-MM-dd' }}</td>
                                    <td>{{ nitem2.estado }}</td>
                                    <td>{{ nitem2.id }}</td>
                                </tr>
                             
                            </tbody>
                        </table>
        
        
                    </div>


            
                <div class="row"> &nbsp;</div>

                    <div class="modal-footer">
                        <button type="button" 
                        class="btn btn-default waves-effect" 
                        data-dismiss="modal"
                        (click)="cerrarModalTarea2()">Cerrar
                        </button>
                     </div>
                </div>
            </div>
        </div>
    </div>



</div>
 


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
