 <!--
<div class="table-like">
    <div class="header-row">
      <div class="header-cell">País radicación</div>
      <div class="header-cell">Fecha Solicitud</div>
      <div class="header-cell">Tipo de solicitud</div>
    
    </div>
    <div class="data-row">
      <div class="data-cell">COLOMBIA</div>
      <div class="data-cell"> </div>
      <div class="data-cell">DESAFÍO THE BOX</div>
     
    </div>
    Repite data-row para más filas de datos 
  </div>
-->
<div class="card">
    <div class="card-body">
            <div class="row">
                        
                <div class="col-lg-4 col-xlg-3 col-md-5">

                    <h6 ><b>Expediente :</b>  </h6> <h6  class="data-display">  {{expediente2.expediente}}</h6>
                </div>
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Marca :</b>  </h6> <h6 class="data-display">{{expediente2.marca}} </h6>
                </div>                                    
                    
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Pais Radicacion:</b>  </h6> <h6 class="data-display">{{expediente2.pais}} </h6>
                </div>                                    
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Fecha :</b> </h6> <h6 class="data-display"> {{expediente2.fechapb | date:'yyyy-MM-dd'}} </h6>
                </div>                                    
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Dominio :</b> </h6> <h6 class="data-display"> {{expediente2.dominio}} </h6>
                </div> 
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Año :</b> </h6> <h6 class="data-display"> {{expediente2.anno}} </h6>
                </div> 
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Clase :</b> </h6> <h6 class="data-display"> {{expediente2.clase}} </h6>
                </div>  
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Tipo Solicitud :</b> </h6> <h6> {{expediente2.tiposol}} </h6>
                </div>  
                
            </div>

        <hr>

            <div class="row">
                        
                <div class="col-lg-4 col-xlg-3 col-md-5">

                    <h6 ><b>Tipo Proceso :</b>  </h6> <h6>  {{expediente2.tipoproceso}}</h6>
                </div>
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Apoderado :</b>  </h6> <h6>{{expediente2.apoderado}}</h6>
                </div>                                    
                    
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Agente:</b>  </h6> <h6>{{expediente2.agente}} </h6>
                </div>                                    
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Compañia:</b> </h6> <h6>  {{expediente2.empresa}} </h6>
                </div>                                    
              
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Gaceta :</b> </h6> <h6> {{expediente2.gaceta}} </h6>
                </div> 
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Certificado :</b> </h6> <h6> {{expediente2.certif}} </h6>
                </div> 
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Vencimiento :</b> </h6> <h6>  {{expediente2.vencimb | date:'yyyy-MM-dd'}} </h6>
                </div>  
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <h6 ><b>Fecha Inac :</b> </h6> <h6>  {{expediente2.fechainac | date:'yyyy-MM-dd'}} </h6>
                </div>  
            </div>
        <hr>

        <div class="row">
                        
            <div class="col-lg-4 col-xlg-3 col-md-5">

                <h6 ><b>Resolucion :</b>  </h6> <h6>  {{expediente2.resolucion}}</h6>
            </div>
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <h6 ><b>Tipo Resolucion :</b>  </h6> <h6>{{expediente2.tiporesolucion}}</h6>
            </div>                                    
                
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <h6 ><b>Fecha Resb :</b>  </h6> <h6>{{expediente2.fecharesb | date:'yyyy-MM-dd'}} </h6>
            </div>                                    
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <h6 ><b>Fecha Pub :</b> </h6> <h6> {{expediente2.fechapub | date:'yyyy-MM-dd'}} </h6>
            </div>                                    
          
          
        </div>


    </div>
</div>

<div class="table-responsive table-Al tabla-contenedor">
    <div class="card">
        <table  #tabla class="tablesaw table-bordered table-hover table tablesaw-swipe tablesaw-sortable" data-tablesaw-mode="swipe" data-tablesaw-sortable="" data-tablesaw-sortable-switch="" data-tablesaw-minimap="" data-tablesaw-mode-switch="" id="table-8849" style="">
            <thead class="sticky-header">
                <tr style="color:aliceblue">
                    <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist" class="tablesaw-cell-persist tablesaw-sortable-head" data-sortable-numeric="false">
                         Denominacion 
                    </th>
                  
                    <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="1" class="tablesaw-sortable-head tablesaw-cell-hidden" data-sortable-numeric="">
                         
                        <abbr title="Rotten Tomato Rating">Expediente</abbr>
                    
                    </th>
                    <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3" class="tablesaw-sortable-head tablesaw-sortable-ascending" data-sortable-numeric="">
                         Pais Rad 
                    </th>
                    <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-sortable-default-col="" data-tablesaw-priority="3" class="tablesaw-sortable-head tablesaw-sortable-ascending" data-sortable-numeric="">
                         Dominio 
                    </th>
                    <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="2" class="tablesaw-sortable-head tablesaw-cell-hidden" data-sortable-numeric="">
                         Año 
                    </th>
               
                    <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="4" class="tablesaw-sortable-head tablesaw-cell-hidden" data-sortable-numeric="false">
                         Clase 
                    </th>
                    <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="4" class="tablesaw-sortable-head tablesaw-cell-hidden" data-sortable-numeric="false">
                        No. Interno
                    </th>
           
                    <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="4" class="tablesaw-sortable-head tablesaw-cell-hidden" data-sortable-numeric="false">
                        Certificado 
                    </th>                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of expedientesI" (click)="filaClickeada(item)" (contextmenu)="mostrarMenuContextual($event)" (keydown)="manejarTeclado($event)">
                    <td class="title tablesaw-cell-persist">  {{ item.marca}}</td>
                    <td>  {{ item.expediente}}</td>
                    <td>  {{ item.pais}}</td>
                    <td >  {{ item.dominio}}</td>
                    <td >  {{ item.anno}}</td>
                    <td >  {{ item.clase}}</td>
                    <td >  {{ item.nrointerno}}</td>
                    <td >  {{ item.certif}}</td>
                </tr>
             
            </tbody>
        </table>
    </div>

</div>

<!-- Definición del menú contextual -->
<div class="menu-contextual" *ngIf="menuVisible" [ngStyle]="{'top': menuPosicion.y + 'px', 'left': menuPosicion.x + 'px'}">
    <ul>
        <li (click)="editar()">Editar</li>
        <li (click)="crearGestion()">Crear Gestión</li>
    </ul>
</div>


<div class="footer-bar">
    <input type="text" 
    class ="form-control"
    placeholder="Buscar x Expediente / Marca / Pais"
     
    #txttermino
    />         
    <button class="btn btn-primary"  (click)="buscar(txttermino.value)">Buscar</button>
    <button class="btn btn-secondary">Gestiones</button>

    &nbsp;&nbsp;&nbsp;
    <button class="btn waves-effect waves-light btn-warning"  (click)="cambiarPagina(0)">Primera</button>
    <button class="btn waves-effect waves-light btn-warning"  (click)="cambiarPagina(-1)">Anterior</button>
    <button class="btn waves-effect waves-light btn-warning"  (click)="cambiarPagina(1)">Siguiente</button>
    <button class="btn waves-effect waves-light btn-warning"  (click)="cambiarPagina(99)">Ultima</button>
    &nbsp;&nbsp;&nbsp;
    <button class="btn btn-success"  (click)="abrirModal()" >Nuevo</button>
    <button class="btn btn-success">Editar Actual</button>
    &nbsp;&nbsp;&nbsp;
    <button (click)="abrirUrl()">Ir a la S.I.C.</button>

    

</div>




<style>
    /* Ajusta el estilo para las celdas de la tabla */
    table.tablesaw td {
        padding: 5px; /* Disminuye el relleno; ajusta según sea necesario */
        line-height: 1.2; /* Disminuye el espaciado entre líneas; ajusta según sea necesario */
        width: 100%; /* Hace que la tabla ocupe todo el ancho */
        max-width: none; /* Elimina cualquier restricción de ancho máximo */
        margin: 0; /* Opcional: elimina márgenes para que la tabla alcance los bordes de la pantalla */
    }

    /* Opcional: Ajustar el estilo para los encabezados de la tabla, si es necesario */
    table.tablesaw th {
        padding: 5px; /* Disminuye el relleno; ajusta según sea necesario */
        line-height: 1.2; /* Disminuye el espaciado entre líneas; ajusta según sea necesario */
        width: 100%;
        max-width: none;
        padding: 0; /* Elimina el relleno si es necesario */
    }
    .table-Alto {
    max-height: 300px; /* Establece el alto máximo del contenedor */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido excede el alto máximo */
}

.table-like {
  width: 100%; /* Ocupa todo el ancho disponible */
  border-collapse: collapse; /* Para que no haya espacios entre las celdas */
  
}

.header-row, .data-row {
  display: flex;
}

.header-cell, .data-cell {
  flex: 1; /* Distribuye el espacio de manera uniforme */
  border: 1px solid #000; /* Borde negro para cada celda */
  padding: 8px; /* Espaciado interno para el texto */
  text-align: left; /* Alinea el texto a la izquierda */
  background-color: #ddd; /* Fondo gris para las celdas del encabezado */
  white-space: nowrap; /* Asegura que el texto no se pase a la línea siguiente */
}

.data-cell {
  background-color: #fff; /* Fondo blanco para las celdas de datos */
}

/* Añade estilos adicionales para los bordes, sombras, o lo que necesites */
.selected {
  background-color: #e9ecef; /* Cambia el color de fondo de la fila seleccionada */
}
</style>





<!---------------
        MODAL
-->



<div class="modal animated fadeIn fast" *ngIf="!ocultarModal" >

    <!--
         <div class="modal-dialog  modal-lg  modal-dialog-scrollable">
             <div class="modal-content">
       -->
       
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{Titulo}}</h4>
                    <button type="button" 
                    class="close" 
                    data-dismiss="modal" 
                    aria-hidden="true"
                    (click)="cerrarModal()">×</button>
                </div>
               
                <div class="modal-body">
                    <div class="card-body">
                    
                        <div class="form-body" > 
                      


                                <div class="row">
                            
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Expediente :</b>  </h6> 
                                        <input type="text" id="lastName"  placeholder="Expediente" [(ngModel)]="camposEditar.expediente">
                                    </div>
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Marca :</b>  </h6>  
                                        <input type="text" id="marca"  placeholder="Marca" [(ngModel)]="camposEditar.marca">
                                    </div>                                    
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Pais Radicacion:</b>  </h6>
                                        <input type="text" id="fecha"  placeholder="Pais Radicacion" [(ngModel)]="camposEditar.pais">
                                    </div>                                    
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Fecha :</b> </h6> 
                                        <input type="date" id="fecha"  placeholder="Fecha Publicacion" [(ngModel)]="camposEditar.fechapb">
                                    </div>       
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Año :</b> </h6> 
                                        <input type="text" id="anno"  placeholder="Año" [(ngModel)]="camposEditar.anno">
                                    </div> 
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Clase :</b> </h6> 
                                        <input type="text" id="clase"  placeholder="clase" [(ngModel)]="camposEditar.clase">
                                    </div> 
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Gaceta :</b> </h6>
                                        <input type="text" id="tipoproceso"  placeholder="Gaceta" [(ngModel)]="camposEditar.gaceta">
                                   </div>  
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Vencimiento :</b> </h6> 
                                        <input type="date" id="Vence"  placeholder="Tipo Solicitud" [(ngModel)]="camposEditar.vencimb">
                                    </div>  
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Dominio :</b> </h6> 
                                        <input type="text" id="dominio"  placeholder="Dominio" [(ngModel)]="camposEditar.dominio">
                                    </div> 
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Pais :</b> </h6> 
                                        <input type="text" id="marca" placeholder="Pais" [(ngModel)]="camposEditar.idpais">
                                    </div> 
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Tipo Proceso :</b> </h6>
                                        <input type="text" id="tipoproceso" placeholder="Tipo proceso" [(ngModel)]="camposEditar.tipoproceso">
                                    </div>  
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Tipo Solicitud :</b> </h6> 
                                        <input type="text" id="marca" placeholder="Tipo Solicitud" [(ngModel)]="camposEditar.tiposolicitud">
                                    </div>  
                                </div>
                            <hr>
                                <div class="row">
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Apoderado :</b>  </h6> 
                                        <input type="text" id="marca" placeholder="Apoderado" [(ngModel)]="camposEditar.apoderado">
                                    </div>
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Agente :</b>  </h6>
                                        <input type="text" id="agente"  placeholder="Agente" [(ngModel)]="camposEditar.agente">
                                    </div>                                    
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Estado Tramite:</b>  </h6> 
                                        <input type="text" id="marca"  placeholder="Estado Tramite" [(ngModel)]="camposEditar.idtipoestadotramite">

                                    </div>                                    
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Nrointerno :</b> </h6> 
                                        <input type="text" id="marca"  placeholder="Numero Interno" [(ngModel)]="camposEditar.nrointerno">

                                    </div>                                    
                                
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Prioridad :</b> </h6> 
                                        <input type="text" id="marca" placeholder="Prioridad" [(ngModel)]="camposEditar.prioridad">

                                    </div> 
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Fecha Prioridad :</b> </h6>
                                        <input type="date" id="marca" placeholder="Estado Tramite" [(ngModel)]="camposEditar.fechapri">
                                    </div> 
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>expedipri :</b> </h6> 
                                        <input type="date" id="marca" placeholder="Estado Tramite" [(ngModel)]="camposEditar.expedipri">
                                    </div>  
                                    <div class="col-lg-4 col-xlg-3 col-md-5">
                                        <h6 ><b>Yourref :</b> </h6> 
                                        <input type="text" id="marca" placeholder="yourref" [(ngModel)]="camposEditar.yourref">
                                    </div>  
                                </div>
                            <hr>
                    
                            <div class="row">
                                <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>Licenuso :</b> </h6> 
                                    <input type="text" id="marca" placeholder="yourref" [(ngModel)]="camposEditar.licenuso">
                                 </div>
                                <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>pagcert :</b> </h6> 
                                    <input type="text" id="pagcert" placeholder="pagcert" [(ngModel)]="camposEditar.pagcert">
                             </div>                                    
                                    
                                <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>fechapub:</b> </h6> 
                                        <input type="date" id="marca"  placeholder="Estado Tramite" [(ngModel)]="camposEditar.fechapub">
                                    </div>                                    
                                <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>MActiva :</b> </h6> 
                                    <input type="text" id="pagcert"  placeholder="pagcert" [(ngModel)]="camposEditar.mactiva">
                                </div>                                    
                                <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>ts :</b> </h6> 
                                    <input type="text" id="marca"  placeholder="yourref" [(ngModel)]="camposEditar.ts">
                                 </div>
                                <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>ptram :</b> </h6> 
                                    <input type="date" id="pagcert"  placeholder="pagcert" [(ngModel)]="camposEditar.ptram">
                             </div>                                    
                                <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>fechainac:</b> </h6> 
                                        <input type="date" id="marca"  placeholder="Estado Tramite" [(ngModel)]="camposEditar.fechainac">
                                    </div>                                    
                                <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>vcniza :</b> </h6> 
                                    <input type="text" id="pagcert"  placeholder="pagcert" [(ngModel)]="camposEditar.vcniza">
                                </div>                                    
                                <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>rvidicac :</b> </h6> 
                                    <input type="text" id="marca"  placeholder="yourref" [(ngModel)]="camposEditar.rvidicac">
                                 </div>
                                <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>declara uso :</b> </h6> 
                                    <input type="date" id="pagcert"  placeholder="pagcert" [(ngModel)]="camposEditar.declauso">
                             </div>                                    
                                    
                                <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>frrenova :</b> </h6> 
                                        <input type="date" id="marca"  placeholder="Estado Tramite" [(ngModel)]="camposEditar.frrenova">
                                    </div>                                    
                                <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <h6 ><b>otro :</b> </h6> 
                                    <input type="text" id="pagcert" class="" placeholder="pagcert" [(ngModel)]="camposEditar.otro">
                                </div>              
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" 
                                class="btn btn-default waves-effect" 
                                data-dismiss="modal"
                                (click)="cerrarModal()"
                            >Cerrar</button>
                            <button type="button" class="btn btn-danger waves-effect waves-light"  (click)="salvarModal()">Salvar cambios</button>
                        </div>

                    </div>
                </div>
                     
            </div>
       
     

</div>