<div class="row">
    <div class="col-4">
    <div class="card">
            <div class="card-body">


                <div class="col-lg-8 col-md-12">
                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1"> <img src="../assets/images/users/1.jpg" style="width: 220px; height: 220px;" alt="user">
                                 {{nombre}} <br> <small>{{email}}</small>
                                <br> <small>{{login}}</small></div>
<br>
                                 <small><b>IDENTIFICACION :</b> {{this.usuario.identificacion}}</small>
                                <br>
                                 <small><b>ROL : </b>{{this.usuario.role}}</small>
                                <br>
                                <small><b>EMPRESA : </b> {{this.usuario.empresa}}</small>
                            </div>
                            <div class="el-card-content">
                                
                        </div>
                    </div>
                </div>

            </div>
            
            <button class="btn btn-primary "  (click)="CambioClave()" >
                <i class="fa fa-city"></i>
                Cambiar la clave
            </button>
    </div>
    </div>
</div>

 <!-- MODAL CAMBIO DE PASSWORD -->
<div class="fondo_modal animated fadeIn fast" [class.oculto]="ocultarModal2">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content m-0 p-0">
        <div class="modal-header sidebar-nav text-white">
          <h4 class="modal-title">&nbsp;{{Titulo}}&nbsp;&nbsp;|&nbsp;&nbsp;{{SubTitulo}}</h4>
          <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true" (click)="cerrarModal2()">&nbsp;&nbsp;×&nbsp;&nbsp;</button>
        </div>
  
        <div class="modal-body">
          <div class="form-container">
  
            <!-- Usuario -->
            <div class="form-group row fila-alterna">
              <label class="col-md-3 col-form-label">Usuario</label>
              <div class="col-md-9">
                <input type="text" class="form-control" [value]="camposEditar.nombre" disabled>
              </div>
            </div>
  
            <!-- Nuevo Password -->
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Nuevo Password</label>
              <div class="col-md-9">
                <input type="password" class="form-control form-control-danger" placeholder="Ingrese nueva contraseña" [(ngModel)]="psw1">
                <small class="form-control-feedback">Digite el nuevo password</small>
              </div>
            </div>
  
            <!-- Repetir Nuevo Password -->
            <div class="form-group row fila-alterna">
              <label class="col-md-3 col-form-label">Repita Password</label>
              <div class="col-md-9">
                <input type="password" class="form-control form-control-danger" placeholder="Repita la nueva contraseña" [(ngModel)]="psw2">
                <small class="form-control-feedback">Confirme el password</small>
              </div>
            </div>
  
            <!-- Botones -->
            <div class="modal-footer">
              <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" (click)="cerrarModal2()">Cerrar</button>
              <button type="button" class="btn btn-danger waves-effect waves-light" (click)="salvarModal2()">Guardar cambios</button>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
<script src="../assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>