<div class="row">
  <div class="tabla-container">
    <h4 class="mb-3">📄 Gacetas disponibles</h4>
  
    <div class="card">
      <table class="table table-bordered table-hover">
        <thead class="table-dark sticky-header">
          <tr>
            <th>Gaceta</th>
            <th>País</th>
            <th>Fecha Publicación</th>
            <th>Registros</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Items">
            <td>{{ item.gaceta }}</td>
            <td>{{ item.paisrad }}</td>
            <td>{{ item.fechapub | date: 'yyyy-MM-dd' }}</td>
            <td>{{ item.registros }}</td>
            <td>
              <span class="badge"
                [ngClass]="{
                  'bg-secondary': item.estado === 'Pendiente',
                  'bg-warning': item.estado === 'Procesando',
                  'bg-success': item.estado === 'Procesado'
                }"
              >
                {{ item.estado }}
              </span>
            </td>
            <td>
              <button class="btn btn-sm btn-info me-2" (click)="abrirDetalle(item)">
                <i class="fas fa-eye"></i>
              </button>
              <button class="btn btn-sm btn-primary" (click)="analisisGaceta(item)">
                <i class="fas fa-play"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  

   
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">