<div class="row">
    <div class="col-12">
    <div class="card">
           <!-- Botón para minimizar/expander -->
           <div class="ml-auto">
            <div class="busqueda-titulo2">
                <strong>C A R G A R &nbsp;&nbsp;&nbsp;</strong> 
                <button class="btn btn-sm btn-secondary align-items-center" (click)="toggleMinimizar()">
                    {{ seccionMinimizada ? '+' : '-' }}
                  </button>  
            </div>
           
            
          </div>
           <!-- FIN Botón para minimizar/expander -->

            <div [ngClass]="{'minimizado': seccionMinimizada}" >
                <div class="card-body ">
                    
                    CARGAR GACETAS 
                   
                    <div class="row">
                      <!--
                        <div class="col-6">
                           &nbsp;&nbsp;&nbsp; <input type="text" [(ngModel)]="cadena1" 
                            class ="form-control"
                            placeholder="Cadena a comparar 1"
                            
                            #txttermino
                            />        
                        </div>

                        (click)="Comparar()"
                        
                    -->
                    <input type="file" (change)="onFileChange($event)">

                         &nbsp;&nbsp;
                         <!-- <button class="btn btn-primary "   >
                            <i class="fa fa-city"></i>
                            Procesar
                        </button> -->

<br>
<br>
Se debe cargar un archivo excel: el nombre de  la hoja donde se encuentre la gaceta debe ser " gaceta " y  que cada columna debe tener los siguientes nombres de columnas
<br>
<br>                    
                        paisrad ,dominio ,anno ,expedi ,fechapb ,estado ,ts ,natural ,denomi ,civersion ,clase ,apoderado ,dirapo ,emailapode ,paisapod ,solicitant ,direcsol ,emailsol ,nomciu ,depto ,pais ,codpais ,contacto ,dircont ,emailcont ,ciudcont ,paiscont ,tipomarc ,tipoproc ,gaceta ,expedinu ,plazopo ,clases ,fechapub ,tiposol ,expedio ,numpub ,prioridad ,fechapri ,regint ,fregint ,codciud ,direccion ,clasesig ,direccion ,clasesig 


                    </div>
                </div>

            </div>
    </div>
    </div>
</div>
 