/* You can add global styles to this file, and also import other style files */


.fast{
    -webkit-animation-duration:0.3s;
    animation-duration:0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

#themecolors .selector, .cursor  {
    cursor: pointer;
}

.img-avatar {
    height: 200px;
    width: 200px;
}

.w100 
{
    width:100px;
}

.w140 
{
    width:140px;
}

.fondo_modal
{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    display: block;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-y: auto;

}
.oculto{
    display: none;
}
.fondo_modal_ancho
{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

}

.modal_contenido {
    background-color: rgba(0,0,0,0.4);
    /* Cambia al color de fondo que desees para el contenido del modal */
    width: 80%; /* Puedes ajustar el ancho según tus necesidades */
    max-width: 600px; /* Puedes establecer un ancho máximo si lo deseas */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.centerModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .centerNormal {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .anchoModal{
        width: 90%;
  }
  center {
    display: block;
    text-align: -webkit-center;
}

.ancho-custom {
    max-width: 800px; /* Ajusta el valor según tus necesidades */
  }
  

  .minimizado {
    display: none;
  }

  .busqueda-titulo {
    background-color: #b0d4f1; /* Fondo diferente para el texto de búsqueda */
    padding: 6px; /* Ajusta según tus necesidades */
    border-radius: 3px; /* Bordes redondeados */
    margin-bottom: 0px; /* Espacio inferior para separar del contenido siguiente */
  }

  
  .busqueda-titulo2 {
    background-color: #fed661; /* Fondo diferente para el texto de búsqueda */
    padding: 6px; /* Ajusta según tus necesidades */
    border-radius: 3px; /* Bordes redondeados */
    margin-bottom: 0px; /* Espacio inferior para separar del contenido siguiente */
  }

  .footer-bar {
    position: fixed;
    bottom: 0px;
    background-color: #ffffff; /* Cambia el color de fondo según tus preferencias */
    padding: 10px 0;
    display: flex;
  /*  justify-content: center;*/
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Opcional: agrega una sombra para un efecto elevado */

    z-index: 2000;
    display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    justify-content: start; /* Alinea los elementos al inicio del contenedor */
    width: 100%; /* Asegura que la barra de pie ocupe todo el ancho */

}

.footer-bar .btn {
    margin: 0 10px;
}

.footer-bar .form-control {
  width: 400px; /* Ancho fijo para el campo de entrada */
  margin-right: 10px; /* Espaciado entre el campo de entrada y los botones */
}

.menu-contextual {
  position: fixed;
  z-index: 1000;
  width: 200px;
  background: rgb(145, 205, 233);
  color: rgb(1, 48, 117); /* Texto blanco */
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px #04036b;
}

.menu-contextual ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-contextual li {
  padding: 8px 12px;
  cursor: pointer;
}

.menu-contextual li:hover {
  background-color: #010936;
  color: rgb(176, 200, 236); 
}

.data-display {
  display: inline-block;
  padding: 4px;
  margin: 2px 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #f9f9f9;
  color: #333;
  min-width: 200px; /* O el ancho que prefieras */
}

/* alto de  tabla para que tenga scroll vertical */
.tabla-contenedor {
  max-height: 340px; /* Ajusta esto según la altura de tus filas */
  overflow: auto;
}

/* titulos en tabla por encima de los datos */
.sticky-header th {
  position: sticky;
  
  background-color: rgb(10, 16, 73); /* O el color de fondo de tu elección */
  z-index: 80; /* Esto asegura que el encabezado se mantenga sobre los otros elementos al desplazarse */
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 110;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-height: 80%;
  overflow: auto;
}



.form-control {
  width: 100px;
  /* Otras propiedades existentes... */
}