

<div class="row m-t-40">
    <!-- Column -->
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white">{{ItemsALL[0].marcas}}</h1>
                <h6 class="text-white">Marcas</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card">
            <div class="box bg-primary text-center">
                <h1 class="font-light text-white">{{ItemsALL[0].expedientes}}</h1>
                <h6 class="text-white">Expedientes</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card">
            <div class="box bg-success text-center">
                <h1 class="font-light text-white">{{ItemsALL[0].gestiones}}</h1>
                <h6 class="text-white">Gestiones</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card">
            <div class="box bg-dark text-center">
                <h1 class="font-light text-white">{{ItemsALL[0].gacetas}}</h1>
                <h6 class="text-white">Gacetas</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>


<div class="row">

    <div class="col-md-6">
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Estados Tareas</h3>
          </div>
          <div class="card-body">
            <app-donut [title]="'Tareas'"
                        [labels]="labels1"
                        [data]="datasets1"

                      ></app-donut> 

            <!-- [backgroundColor]="['#fc8621', '#da1212', '#2f9919','#f44336', '#16537e', '#ffee66', '#ffff56']" -->
          </div>
        </div>
        <!-- <div class="card card-danger">
          <div class="card-header">
           </div>
       
        </div> -->
      </div>

      <div class="col-md-6">
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Tareas Pendientes</h3>
          </div>
          <div class="card-body">
          

            <div class="table-responsive">
                <table class="table small-table  full-color-table full-muted-table hover-table">
                    <thead>
                        <tr>
                          <!-- <th class="w100">Marca</th> -->
                          <th class="w100">Expediente</th>
                          <th>Gestion</th>
                            <th>Pendiente</th>
                            <th>Fecha Vence</th>
                            <th>Paralegal</th>
                            <!-- <th  class="w100">Estado</th>
                            <th>Vencida</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of TareasAll" [ngClass]="getRowClass(items.vence)"  (click)="irAGestion(items.id)">
                        
                             <!-- <td>
                                {{ items.marca }} 
                            </td>                     -->
                            <td>
                                {{ items.expediente }} 
                            </td>
                            <td>{{ items.gestion }}</td>
                            <td>{{ items.pendiente }}</td>
                            <td>{{ items.vence  | date:'yyyy-MM-dd' }}</td>
                            <td>{{ items.paralegal}}</td>
                            <!-- <td>{{ items.estado }}</td>
                            <td>
                                <span class="label label-danger" *ngIf="isFechaVencida(items.vence)">
                                    Atrasado
                                </span>

                            </td> -->
                        </tr>
                     
                    </tbody>
                </table>






          </div>
        </div>
  
      </div>

</div>
